body{
  font-family: 'Raleway', sans-serif;
  background-image: url(/Users/celacouture/Desktop/TriviaGame/assets/images/c00616.jpg);
}
.jumbotron{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

#start{
  padding: 20px;
  font-size: 24pt;
  margin-left: 45%;
}

#next{
  padding: 20px;
  font-size: 24pt;
  margin-left: 45%;
}

.quizBoard{
  background-color: #fff;
}

.showquestion{
  text-align: center;
  font-size: 20pt;
  padding:20px;
}

p{
  padding: 10px;
}
